$w1: 320px;
$w2: 480px;
$w3: 768px;
$w4: 980px;
$w5: 1200px;



$font:		robotoregular, sans-serif;
$font_bl:	robotoblack, sans-serif;
$font_b:	robotobold, sans-serif;
$font_cb:	roboto_condensedbold, sans-serif;
$font_i:	robotoitalic, sans-serif;
$font_mi:	robotomedium_italic, sans-serif;




$color_white:			#fff;
$color_black:			#1f1d1e;
$color_yellow:			#ffe06b;
$color_red:				#610534;
$color_blue:			#35476f;



